@{
    ViewBag.Title = "Ho va ten: Tran Duy Vu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>Ma so: 2210900138</h2>
<h2>Ngay sinh: 25/11/2004</h2>

<address>Lop: K22CNT3</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Chungtrinhj@gmail.com">Chungtrinhj@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:duyvutran2004@gmail.com">duyvutran2004@gmail.com</a>
</address>